.otp .navbar {
  border-radius: 0;
  background-color: #444;
  margin: 0px;
}

.otp .navbar .container {
  margin-left: 0;
}

.otp .navbar-brand {
  padding: 7px 10px;
}

.otp .navbar-title {
  color: #fff;
  font-size: 24px;
  padding-top: 7px;
}

.otp.mobile .navbar-title {
  padding-top: 2px;
}

.main-row {
  position: fixed;
  top: 52px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 15px;
}

/* Necessary for defining the height in the main panel nested elements. */
.main-row main {
  height: 100%;
}

.sidebar {
  height: 100%;
  padding: 0;
  box-shadow: 3px 0px 12px #00000052;
  z-index: 1000;
}

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 14px;
  right: 14px;
  text-align: right;
}

.map-container {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.otp .sidebar-footer {
  position: absolute;
  width: 20%;
  right: 14px;
  text-align: right;
  top: 26px;
  z-index: 10000;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.otp:not(.mobile) .sidebar .desktop-narrative-container div[class*=TripDetails-sc].with-booking-link {
  border-bottom: none;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.otp:not(.mobile) .sidebar .desktop-narrative-container .booking-link {
  border: 1px solid #003865;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otp .sidebar-footer a {
  color: #212121;
  text-decoration: underline;
}
.otp .sidebar-footer a:hover {
  color: #212121;
  text-decoration: none;
}